.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 1rem 0 1.5rem -2rem; }

/*vue desktop*/
.col-lg-4,
.col-lg-1 {
  flex-grow: 0;
  flex-shrink: 0; }

.col-lg-3 {
  flex-basis: calc(100% / 12 * 3 - 2rem);
  margin: 0 0 1rem 2rem; }

.col-lg-4 {
  flex-basis: calc(100% / 12 * 4 - 2rem);
  margin-left: 2rem; }

aside.col-lg-4 {
  margin-right: 2rem;
  margin-left: 0; }

.col-lg-8 {
  flex-basis: calc(100% / 12 * 8 - 4rem); }

.end {
  justify-content: flex-end; }

.start {
  justify-content: flex-start; }

/* #AAD5DF / #A38A7C / #552a20 */
/*desktop max-width = 1024px;*/
@media screen and (max-width: 640px) {
  body {
    max-width: 100%;
    clear: both; }
  .logo {
    display: block;
    margin: 0 auto; }
  .gone {
    display: none;
    visibility: hidden; }
  .row {
    flex-direction: column;
    margin: 0 auto;
    justify-content: center; }
  .centered {
    width: 15rem;
    margin: 0 auto; }
  .col-lg-4,
  .col-lg-1 {
    display: block;
    width: 100%;
    padding: 1rem;
    margin: 0 auto; }
  .col-lg-4 img {
    display: block;
    width: 100%; }
  article img,
  .min-meubles {
    display: none; } }

@media screen and (min-width: 640px) {
  .logo {
    position: absolute; }
  .slider {
    max-width: 100%; }
  .content {
    display: block;
    max-width: 1024px;
    margin: 0 auto; }
  .centered {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 1rem 0 3rem 0; }
  nav ul li a:hover {
    opacity: .3; }
  .nav-meubles:hover {
    opacity: .3; }
  .min-meubles:hover {
    opacity: .3; }
  form input[type=submit]:hover {
    opacity: .5; } }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, output, ruby, section, summary, time, mark, audio, video {
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  box-sizing: border-box;
  font-size: 16px; }

body {
  font-family: sans-serif; }

.logo img {
  width: 30rem; }

h1,
h2,
h3 {
  font-family: 'Open Sans', sans-serif; }

h3 {
  font-size: 2rem;
  color: #4f4f4f; }

/* navigations */
nav ul li {
  display: inline;
  margin-left: 1rem; }

nav ul li a,
.nav-meubles {
  text-transform: uppercase;
  font-weight: 600;
  color: #000; }

nav ul li a,
.nav-meubles,
.article-a-vendre,
.min-meubles {
  text-decoration: none; }

.min-meubles {
  font-weight: 300;
  color: #000; }

.current-page {
  width: 100%;
  background-color: #AAD5DF;
  padding: 1rem; }

.current-page p {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase; }

.current-page a {
  color: #4f4f4f;
  text-decoration: none;
  text-transform: uppercase; }

.col-lg-4 img {
  width: 12.5rem; }

input[type=button] {
  border-radius: .5rem;
  padding: .5rem;
  font-weight: lighter;
  background-color: #fff; }

header input[type=submit] {
  border-radius: .5rem;
  background-color: #AAD5DF;
  color: #fff;
  padding: .7rem;
  border-style: none;
  border-width: 0;
  border-style: none;
  border-color: none;
  border-image: none;
  font-weight: 600;
  padding: .8rem 1.5rem .8rem 1.5rem;
  margin-left: -1.5rem; }

input[type=search] {
  border-radius: .5rem .5rem 0 .5rem;
  font-weight: lighter;
  padding: .7rem;
  border-style: none;
  border-width: 0;
  border-style: none;
  border-color: none;
  border-image: none;
  border: 1px solid #4f4f4f; }

.vert {
  background-image: url(../img/home_page_corner.png);
  background-repeat: no-repeat;
  background-position: bottom; }

/* meubles */
article {
  padding: 1rem;
  border: 1px solid #4f4f4f; }

article h3 {
  text-transform: capitalize;
  color: #AAD5DF; }

article p {
  color: #000;
  font-weight: 300; }

/* contact */
aside h2,
form h2 {
  font-size: 2rem;
  padding: 1rem;
  margin-left: -1rem;
  margin-top: -1rem;
  background-color: #D5E7F2;
  width: 100%; }

form,
aside {
  background-color: #AAD5DF;
  padding: 1rem; }

form input,
textarea {
  padding: 1rem;
  margin: 1rem 0 0 1rem; }

form input[type=submit] {
  cursor: pointer;
  background-color: #fff;
  color: #AAD5DF;
  font-weight: bolder;
  padding: .7rem;
  border-style: none;
  border-width: 0;
  border-style: none;
  border-color: none;
  border-image: none;
  border-radius: 5%; }

.mapouter {
  position: relative;
  text-align: right;
  height: 300px;
  width: 100%; }

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 300px;
  width: 100%; }
