/*desktop max-width = 1024px;*/

@media screen and (max-width: 640px) {

    body {
        max-width: 100%;
        clear: both;
    }

    .logo {
        display: block;
        margin: 0 auto;


    }

    .gone {
        display: none;
        visibility: hidden;
    }

    .row {
        flex-direction: column;
        margin: 0 auto;
        justify-content: center;
    }

    .centered {
        width: 15rem;
        margin: 0 auto;
    }

    .col-lg-4,
    .col-lg-1 {
        display: block;
        width: 100%;
        padding: 1rem;
        margin: 0 auto;

    }

    .col-lg-4 img {
        display: block;
        width: 100%;
    }
    
    article img, .min-meubles {display: none;}
    

}

@media screen and (min-width: 640px) {

    .logo {
        position: absolute;

    }

    .slider {
        max-width: 100%;

    }

    .content {
        display: block;
        max-width: 1024px;
        margin:0 auto;
    }

    .centered {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin: 1rem 0 3rem 0;

    }
    
    nav ul li a:hover {
    opacity: .3;
}

.nav-meubles:hover {
    opacity: .3;
}

.min-meubles:hover {
    opacity: .3;
}


}
